
body {
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
}

#forum {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid black;
  margin-top: 120px;
  border-image: linear-gradient(21deg, #10abff, #1beabd);
  border-image-slice: 1;
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#header {
  padding: 1px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#submit-btn {
  border-image: linear-gradient(21deg, #10abff, #1beabd);
  background: linear-gradient(21deg, #10abff, #1beabd);
  margin-top: 25px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  padding: 8px 18px;
}
